.jnugu { 
  border-left-width: 51px;
  margin-right: 57px;
  border-top-width: 8px;
  font-size: 87px;
  margin-top: 33px;
  margin-right: 73px;
  margin-left: 36px;
  padding-bottom: 25px;
  border-bottom-width: 50px;
}
